body {
    font-family: "Lato", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d_choose_file{
    padding: 0px 6px;
    /* font-family: Poppins; */
    font-size: 14px;
    font-weight: 500;
    line-height: 19.71px;
    text-align: center;
    border-radius: 3px;
    background-color: transparent;
    /* font-size: smaller; */
    color: black;
    border: 0px;
    box-shadow: 0px 2.63px 9.86px 0px #4F484840;
} 
.d_choose_file:hover  {
    color: black !important;
    background-color: transparent !important;
    background-color: transparent !important;
}
/* drawer start */
/* 
.a_drawer {
    width: 324px;
    background: #4B6C52;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1030;
}

.a_drawer .a_logo h2 {
    font-size: 54px;
    font-weight: 600;
    line-height: 64.8px;
    color: #FFFFFF;
    text-align: center;
    padding: 13px 10px 20px 50px;
}

.a_drawer .list-group a {
    border: none;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.4px;
    text-align: start;
    padding: 32px 0;
    padding-left: 90px;
    background: #4B6C52;
    color: #FFFFFF;
}
.a_drawer .list-group-item.active {
    z-index: 2;
    color: #fff;
    border: none !important;
    background-color: #007bff;
    border-color: #007bff;
}
.list-group-item-action.d_active1 {
    z-index: 2;
    color: #fff;
    border-top: 0 !important;
    border-bottom: 0px !important;
}


.a_drawer .list-group-item-action:focus,
.a_drawer .list-group-item-action:hover,
.a_drawer .list-group-item-action:nth-child(6) {
    background: #F6F6F6;
    color: #06210B;
    cursor: pointer;
    border-left: #082B0F !important;
    border-right: #082B0F !important;
    box-shadow: inset 0px 1px 2px 1px #000000f7;
}

.b_name a:focus {
    box-shadow: none;
}

.m_active a:active {
    background: none;
    color: black;
}
 */


/* drawer end */


/* navbar */

.a_navbar {
    height: 80px;
    background: #FFFFFF;
    box-shadow: 4px 4px 14px 0px #00000014;
    width: 100%;
}

.a_search input {
    border: none;
    border-radius: 4px;
    border: 0.9px solid #606060;
    background: none;
    outline: none;
    max-width: 380px;
    height: 34px;
    padding: 10px 10px 10px 35px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23aaa" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"/><line x1="21" y1="21" x2="16.65" y2="16.65"/></svg>') no-repeat 10px center;
    background-size: 20px;
    box-shadow: 4px 4px 20px 0px #E5E5E500;
}

.a_search {
    margin-left: 300px;
}

.a_profile>.fa-bell {
    font-size: 30px;
    margin-right: 26px;
    color: #B6B1B1;
}

.a_profile>.fa-bell>span {
    background: linear-gradient(180deg, #4B6C52 0%, #729578 100%);
    top: -2px;
    right: -6px;
}

.a_pro>img {
    width: 36px;
    border-style: none;
    height: 36px;
    border-radius: 50%;
}

.a_pro>p {
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #06210B;
    margin: 0;
    padding-left: 10px;
}

/* navbar end */

#a_main-content {
    margin-left: 350px;
     margin-top: 120px;
}

.a_main {
    padding: 0 !important;
}

.m_model_logout {
    position: fixed;
    top: 0;
    left: 230px !important;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 214px;
    outline: 0;
    
}
#logoutModal .m_model_con {
    width: 75% !important;
}
#logoutModal .modal-dialog-centered {
    min-height: 0px !important;
    border-radius: 5px;
    top: 35%;
}
@media (max-width: 320px) {
    .a_search input {
        max-width: 100px !important;
        max-height: 34px;
    }

}


@media (max-width: 425px) {
    .a_search input {
        width: 75px !important;
        max-height: 34px;
    }

    .a_navbar .navbar-toggler {
        padding: 5px 8px;
        font-size: 15px;
    }

    .a_profile>.fa-bell {
        font-size: 20px !important;
        margin-right: 26px;
        color: #B6B1B1;
    }

    .a_profile>.fa-bell>span {
        background: linear-gradient(180deg, #4B6C52 0%, #729578 100%);
        top: 0px;
        right: -3px;
        padding: 5px !important;
    }

    .a_search {
        display: none;
    }
    #a_main-content {
        width: 100%;
        padding-left: 30px;
        margin-left: 0px !important;
        margin-top: 120px;
    }


}

@media (max-width: 768px) {
    .a_drawer {
        width: 100%;
        position: fixed;
        overflow-y: auto;
        top: 80px;
        left: -100%;
        transition: left 0.4s ease-in-out;
    }

    .a_navbar .navbar-toggler {
        display: block;
    }

    .a_search {
        margin-left: 20px !important;
    }

    .a_search input {
        width: 150px !important;
        max-height: 34px;
    }

    .a_drawer.open {
        left: 0;
    }

    #a_main-content {
        width: 100%;
        padding-left: 30px;
        margin-left: 0px !important;
        margin-top: 120px;
    }
}
@media (max-width: 768px) {
    .v_chef_change_password  .modal-dialog {
        margin-left: 17% !important;
    }
}
/* @media (min-width: 768px) {
    #logoutModal .modal-dialog {
        margin-left: 0px;
    }
} */
@media (max-width: 1024px) {
    .a_search input {
        max-width: 380px;
        max-height: 34px;
    }

    .a_search {
        margin-left: 210px;
    }

    .a_drawer {
        width: 250px;
    }

    .a_drawer .a_logo h2 {
        font-size: 40px;
        padding: 11px 9px 18px 45px;
    }

    .a_drawer .list-group a {
    border: none;
        padding: 28px 0 28px 50px;
        font-size: 19px;
    }

    #a_main-content {
        margin-left: 271px ;
         margin-top: 120px;
        /* Height of the fixed navbar */
    }
    #logoutModal .modal-dialog-centered {
        margin-left: 42%;
    }

}
@media (max-width: 576px) {
    .v_chef_change_password  .modal-dialog {
        margin-left: 3% !important;
    }
    #logoutModal .modal-dialog-centered {
        margin-left: 7%;
    }
}

/* aesha dropdown */

.dropdown-item {
    padding: .25rem 0.5rem !important;   
}




/* ADD CHEF */
.m_add span {
    font-size: 30px;
    font-weight: 600;
    text-wrap: nowrap;
}
.m_add_input{
    margin: 0px !important;
    /* width: 99%; */
}
.m_add_input .m_add_input_pad{
    padding: 0px !important;
    padding-right: 20px !important;
}
.m_add_input_mar{
    margin-top: 30px;
}
.m_add_input_mar input{
    border: 1px solid #606060;
}
.m_add_input_mar select{
    border: 1px solid #606060;
}

.m_add_input .form-control {
    line-height: 1.2;
}

/* .row {
    margin-right: 0px !important;
}

.m_add span {
    font-size: 30px;
    font-weight: 600;
    text-wrap: nowrap;
}

.m_chef_details {
    margin-top: 20px;
}

.m_details input {
    width: 730px;
    font-size: 17px;
    padding: 10px;
}

.grid {
    display: flex;
}

.m_details {
    border-radius: 5px;
}

.m_details select {
    width: 730px;
    font-size: 17px;
    padding: 10px;
}

.b_add_new a {
    text-decoration: none;
    color: #fff;
}

.m_details_table table tr td {
    width: 730px;
    font-size: 17px;
    padding: 6px;
} */

.m_btn_clear_save {
    display: flex;
    margin-top: 80px;
    justify-content: center;
    margin-right: 65px;
}

.m_btn_clear button {
    font-size: 17px;
    padding: 5px 40px;
    border-radius: 3px;
    background-color: transparent;
    border: 2px solid #606060;
    color: #606060;
}

.m_btn_clear button i {
    margin-right: 8px;
}

.m_btn_save {
    margin-left: 30px;
}

.m_btn_save button {
    font-size: 17px;
    border: none;
    padding: 5px 40px;
    border-radius: 3px;
    background-color: #4B6C52;
    color: #fff;
}

.m_btn_save button:focus {
    outline: none;
}

.m_btn_save button i {
    margin-right: 8px;
}
.m_pro_img{
    margin-top: 20px;
    margin-right: 10px;
}

/* TABLE */
/* .m_option {
    padding-left: 1rem !important;
}

.m_option {
    padding-left: 70px;
} */


/* CHANGE PASSWORD POPUP */
.m_change_pass {
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    width: 600px !important;
}

.m_change_pass_text span {
    font-size: 30px;
    font-weight: 700;
    text-wrap: nowrap;
}

.m_new {
    border-bottom: 1px solid #606060;
    width: 380px;
}

.m_new input {
    font-size: 15px;
    padding: 15px 0px 15px 0px;
    border: none;
    width:100%; 
    background-color: transparent;
}


.m_new input:focus {
    outline: none;
}

.m_confirm {
    border-bottom: 1px solid #606060;
    width: 380px;
}

.m_confirm input {
    font-size: 15px;
    /* margin-top: 20px; */
    padding: 15px 0px 15px 0px;
    border: none;
}

.m_confirm input:focus {
    outline: none;
}

.m_btn_cancel_change {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.m_btn_cancel button {
    font-size: 15px;
    padding: 5px 35px;
    border-radius: 3px;
    background-color: transparent;
    border: 1px solid #606060;
    color: #606060;
}

.m_btn_cancel button i {
    margin-right: 8px;
}

.m_btn_change {
    margin-left: 30px;
}

.m_btn_change button {
    font-size: 15px;
    padding: 5px 35px;
    border-radius: 3px;
    background-color: #4B6C52;
    border: 1px solid #4B6C52;
    color: #fff;
}

.m_btn_change button:focus {
    outline: none;
}

.m_btn_change button i {
    margin-right: 8px;
}

.m_btn_cancel button:focus {
    outline: none;
}

.m_model_ChangePassword {
    position: fixed;
    top: 0;
    left: 160px !important;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}


/* LOGOUT POPUP */
/* .b_button{
    width: 25%;
} */
.m_model_con {
    width: 75% !important;
}

.m_log {
    text-align: center;
    align-items: center;
}

.m_logout {
    margin: 30px 0px 20px 0px;
}

.m_logout span {
    font-size: 30px;
    font-weight: 700;
}

.m_text {
    font-size: 18px;
    font-weight: 600;
}

.m_btn_cancel_yes {
    margin: 50px 0px 30px 0px;
    display: flex;
    justify-content: center;
}

.m_btn_cancel_logout button {
    font-size: 15px;
    padding: 5px 35px;
    border-radius: 3px;
    background-color: transparent;
    border: 1px solid #606060;
    color: #606060;
}

.m_btn_yes {
    margin-left: 30px;
}

.m_btn_yes button {
    font-size: 15px;
    padding: 5px 47px;
    border-radius: 3px;
    background-color: #4B6C52;
    border: 1px solid #4B6C52;
    color: #fff;
}

.m_btn_cancel_logout button:focus {
    outline: none;
}

.m_btn_yes button:focus {
    outline: none;
}

.m_model_logout {
    position: fixed;
    top: 0;
    left: 230px !important;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

@media (max-width: 1440px) {
    /* .m_option {
        padding-left: 1.3rem !important;
    }
    .m_pro_img{
        margin-top: 20px;
    }
    .m_chef_details .m_details {
        padding-left: 0px !important;
    }

    .m_details input {
        width: 480px;
        margin-left: 20px;
        padding: 10px;
    }

    .m_details select {
        width: 480px;
        margin-left: 20px;
        padding: 10px;
    }

    .m_details_table table tr td {
        width: 480px;
        margin-left: 20px;
        padding: 5px;
    } */

    .m_model_ChangePassword {
        position: fixed;
        top: 0;
        left: 170px !important;
        z-index: 1050;
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        outline: 0;
    }

    .m_model_logout {
        position: fixed;
        top: 0;
        left: 225px !important;
        z-index: 1050;
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        outline: 0;
    }
    #logoutModal .modal-dialog-centered {
        margin-left: 42%;
    }
}

@media (max-width: 1024px) {
    /* .m_option {
        padding-left: 1.3rem !important;
    }
    .m_pro_img{
        margin-top: 0px;
    }
    .m_chef_details .m_details {
        padding-left: 0px !important;
    }

    .m_option {
        margin-top: 20px;
    }

    .m_details input {
        width: 660px;
    }

    .m_details select {
        width: 660px;
    }

    .m_details_table table tr td {
        width: 660px;
    } */

    .m_btn_clear_save {
        margin-left: 30px;
    }

    .m_model_ChangePassword {
        position: fixed;
        top: 0;
        left: 130px !important;
        z-index: 1050;
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        outline: 0;
    }

    .m_model_logout {
        position: fixed;
        top: 0;
        left: 200px !important;
        z-index: 1050;
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        outline: 0;
    }
}

@media (max-width: 768px) {
    /* .m_option {
        padding-left: 1.3rem !important;
    }
    .m_pro_img{
        margin-top: 0px;
    }
    .m_add {
        margin-left: 20px;
    }

    .m_details {
        margin-left: 15px;
    }

    .m_details_table {
        margin-left: 15px;
    } */

    .m_model_ChangePassword {
        position: fixed;
        top: 0;
        margin-left: -125px !important;
        z-index: 1050;
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        outline: 0;
    }

    .m_model_logout {
        position: fixed;
        top: 0;
        margin-left: -135px !important;
        z-index: 1050;
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        outline: 0;
    }
    #logoutModal .modal-dialog-centered {
        margin-left: 20%;
    }
}

@media (max-width: 425px) {
    .m_add_input_mar{
        margin-top: 15px;
    }
    .m_change_pass {
        justify-content: center;
        align-items: center;
        padding: 30px 50px;
        width: 350px !important;
    }
    .v_chef_change_password .modal-dialog {
        margin-left: 8% !important;
    }
    /* .m_option {
        padding-left: 1.3rem !important;
    }
    .m_pro_img{
        margin-top: 0px;
    }
    .m_details input {
        width: 335px;
        padding: 5px 10px;
    }

    .m_details select {
        width: 335px;
        padding: 5px 10px;
    }

    .m_details_table table tr td {
        width: 335px;
        padding: 2px 10px;
    } */

    .m_btn_clear_save {
        margin-top: 50px;
        margin-left: 30px;
    }

    .m_btn_clear button {
        font-size: 15px;
        text-wrap: nowrap;
        padding: 2px 15px;
    }

    .m_btn_save button {
        font-size: 15px;
        text-wrap: nowrap;
        padding: 2px 15px;
    }

    .m_save {
        width: 200px !important;
    }

    .m_save_text {
        font-size: 15px;
        font-weight: 600;
    }

    .m_save_img {
        margin-bottom: 10px;
    }

    /* CHANGE PASSWORD POPUP */
    .m_model_ChangePassword {
        position: fixed;
        top: 0;
        margin-left: 0 !important;
        z-index: 1050;
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        outline: 0;
    }

    /* .m_change_pass {
        justify-content: center;
        align-items: center;
        padding: 30px 50px;
        width: 350px !important;
    } */

    .m_change_pass_text span {
        font-size: 20px;
        font-weight: 700;
        text-wrap: nowrap;
    }

    .m_new {
        border-bottom: 1px solid #606060;
        width: 280px;
    }

    .m_new input {
        font-size: 12px;
    }

    .m_new input:focus {
        outline: none;
    }

    .m_confirm {
        border-bottom: 1px solid #606060;
        width: 280px;
    }

      .m_confirm input {
        font-size: 12px;
        background-color: transparent;
        width: 100%;
    }

    .m_confirm input:focus {
        outline: none;
    }

    .m_btn_cancel_change {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    .m_btn_cancel_change {
        display: flex;
        margin-top: 30px;
        justify-content: center;
    }

    /* LOGOUT POPUP */
    .m_btn_yes {
        margin-left: 10px;
    }
    .m_logout {
        margin: 15px 0px 10px 0px;
    }
    .m_btn_cancel_yes {
        margin: 15px 0px 20px 0px;
    }
    .m_model_con {
        width:90% !important;
    }
    .m_model_logout {
        position: fixed;
        top: 0;
        margin-left: -178px !important;
        z-index: 1050;
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        outline: 0;
    }
    #logoutModal .modal-dialog-centered {
        margin-left: 26px;
    }
}

@media (max-width: 375px) {
    /* CHANGE PASSWORD POPUP */
    #changepassModal {
        position: fixed;
        top: 0;
        left: 0 !important;
        z-index: 1050;
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        outline: 0;
    }
    .m_btn_cancel_yes {
        margin: 30px 0px 30px 0px;
    }
    .m_btn_cancel_logout button {
        padding: 5px 20px;
    }
    .m_btn_yes button {
        padding: 5px 20px;
    }
    /* LOGOUT POPUP */
    .m_btn_yes {
        margin-left: 10px;
    }
    .m_logout {
        margin: 15px 0px 10px 0px;
    }
    .m_btn_cancel_yes {
        margin: 15px 0px 20px 0px;
    }
    .m_model_con {
        width:90% !important;
    }
    #logoutModal {
        position: fixed;
        top: 0;
        margin-left: 0px !important;
        z-index: 1050;
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        outline: 0;
    }
}

@media (max-width: 320px) {
    /* CHANGE PASSWORD POPUP */
    .m_new {
        width: 200px;
    }
    .m_confirm{
        width: 200px;
    }
    .m_btn_cancel button {
        padding: 5px 20px;
    }
    .m_btn_change button{
        padding: 5px 20px;
    }
    .m_change_pass {
        width: 290px !important;
    }
    /* LOGOUT POPUP */
    .m_btn_yes {
        margin-left: 10px;
    }
    .m_logout {
        margin: 15px 0px 10px 0px;
    }
    .m_btn_cancel_yes {
        margin: 15px 0px 20px 0px;
    }
    .m_model_con {
        width:90% !important;
    }
    #logoutModal {
        margin-left: 0px !important;
        height: 100%;
    }    
}

body {
    font-family: "Lato", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* drawer start */
/* 
.a_drawer {
    width: 324px;
    background: #4B6C52;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1030;
}

.a_drawer .a_logo h2 {
    font-size: 54px;
    font-weight: 600;
    line-height: 64.8px;
    color: #FFFFFF;
    text-align: center;
    padding: 13px 10px 20px 50px;
}

.a_drawer .list-group a {
    border: none;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.4px;
    text-align: start;
    padding: 32px 0;
    padding-left: 90px;
    background: #4B6C52;
    color: #FFFFFF;
}
.a_drawer .list-group-item.active {
    z-index: 2;
    color: #fff;
    border: none !important;
    background-color: #007bff;
    border-color: #007bff;
}
.list-group-item-action.d_active1 {
    z-index: 2;
    color: #fff;
    border-top: 0 !important;
    border-bottom: 0px !important;
}


.a_drawer .list-group-item-action:focus,
.a_drawer .list-group-item-action:hover,
.a_drawer .list-group-item-action:nth-child(6) {
    background: #F6F6F6;
    color: #06210B;
    cursor: pointer;
    border-left: #082B0F !important;
    border-right: #082B0F !important;
    box-shadow: inset 0px 1px 2px 1px #000000f7;
}

.b_name a:focus {
    box-shadow: none;
}

.m_active a:active {
    background: none;
    color: black;
}
 */


/* drawer end */


/* navbar */

.a_navbar {
    height: 80px;
    background: #FFFFFF;
    box-shadow: 4px 4px 14px 0px #00000014;
    width: 100%;
}

.a_search input {
    border: none;
    border-radius: 4px;
    border: 0.9px solid #606060;
    background: none;
    outline: none;
    max-width: 380px;
    height: 34px;
    padding: 10px 10px 10px 35px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23aaa" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"/><line x1="21" y1="21" x2="16.65" y2="16.65"/></svg>') no-repeat 10px center;
    background-size: 20px;
    box-shadow: 4px 4px 20px 0px #E5E5E500;
}

.a_search {
    margin-left: 300px;
}

.a_profile>.fa-bell {
    font-size: 30px;
    margin-right: 26px;
    color: #B6B1B1;
}

.a_profile>.fa-bell>span {
    background: linear-gradient(180deg, #4B6C52 0%, #729578 100%);
    top: -2px;
    right: -6px;
}

.a_pro>img {
    width: 36px;
    border-style: none;
    height: 36px;
    border-radius: 50%;
}

.a_pro>p {
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #06210B;
    margin: 0;
    padding-left: 10px;
}

/* navbar end */

#a_main-content {
    margin-left: 350px;
     margin-top: 120px;
}

.a_main {
    padding: 0 !important;
}

.m_model_logout {
    position: fixed;
    top: 0;
    left: 230px !important;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 214px;
    outline: 0;
    
}
#logoutModal .m_model_con {
    width: 75% !important;
}
#logoutModal .modal-dialog-centered {
    min-height: 0px !important;
    border-radius: 5px;
    top: 35%;
}
@media (max-width: 320px) {
    .a_search input {
        max-width: 100px !important;
        max-height: 34px;
    }

}


@media (max-width: 425px) {
    .a_search input {
        width: 75px !important;
        max-height: 34px;
    }

    .a_navbar .navbar-toggler {
        padding: 5px 8px;
        font-size: 15px;
    }

    .a_profile>.fa-bell {
        font-size: 20px !important;
        margin-right: 26px;
        color: #B6B1B1;
    }

    .a_profile>.fa-bell>span {
        background: linear-gradient(180deg, #4B6C52 0%, #729578 100%);
        top: 0px;
        right: -3px;
        padding: 5px !important;
    }

    .a_search {
        display: none;
    }
    #a_main-content {
        width: 100%;
        padding-left: 30px;
        margin-left: 0px !important;
        margin-top: 120px;
    }


}

@media (max-width: 768px) {
    .a_drawer {
        width: 100%;
        position: fixed;
        overflow-y: auto;
        top: 80px;
        left: -100%;
        transition: left 0.4s ease-in-out;
    }

    .a_navbar .navbar-toggler {
        display: block;
    }

    .a_search {
        margin-left: 20px !important;
    }

    .a_search input {
        width: 150px !important;
        max-height: 34px;
    }

    .a_drawer.open {
        left: 0;
    }

    #a_main-content {
        width: 100%;
        padding-left: 21px;
        margin-left: 0px !important;
        margin-top: 120px;
    }
}
@media (max-width: 768px) {
    .v_chef_change_password  .modal-dialog {
        margin-left: 17% !important;
    }
}
/* @media (min-width: 768px) {
    #logoutModal .modal-dialog {
        margin-left: 0px;
    }
} */
@media (max-width: 1024px) {
    .a_search input {
        max-width: 380px;
        max-height: 34px;
    }

    .a_search {
        margin-left: 210px;
    }

    .a_drawer {
        width: 250px;
    }

    .a_drawer .a_logo h2 {
        font-size: 40px;
        padding: 11px 9px 18px 45px;
    }

    .a_drawer .list-group a {
    border: none;
        padding: 28px 0 28px 50px;
        font-size: 19px;
    }

    #a_main-content {
        margin-left: 271px ;
         margin-top: 120px;
        /* Height of the fixed navbar */
    }
    #logoutModal .modal-dialog-centered {
        margin-left: 42%;
    }

}
@media (max-width: 576px) {
    .v_chef_change_password  .modal-dialog {
        margin-left: 3% !important;
    }
    #logoutModal .modal-dialog-centered {
        margin-left: 7%;
    }
}

/* aesha dropdown */

.dropdown-item {
    padding: .25rem 0.5rem !important;   
}




/* ADD CHEF */
.m_add span {
    font-size: 30px;
    font-weight: 600;
    text-wrap: nowrap;
}
.m_add_input{
    margin: 0px !important;
    /* width: 99%; */
}
.m_add_input .m_add_input_pad{
    padding: 0px !important;
    padding-right: 20px !important;
}
.m_add_input_mar{
    margin-top: 30px;
}
.m_add_input_mar input{
    border: 1px solid #606060;
}
.m_add_input_mar select{
    border: 1px solid #606060;
}

.m_add_input .form-control {
    line-height: 1.2;
}

/* .row {
    margin-right: 0px !important;
}

.m_add span {
    font-size: 30px;
    font-weight: 600;
    text-wrap: nowrap;
}

.m_chef_details {
    margin-top: 20px;
}

.m_details input {
    width: 730px;
    font-size: 17px;
    padding: 10px;
}

.grid {
    display: flex;
}

.m_details {
    border-radius: 5px;
}

.m_details select {
    width: 730px;
    font-size: 17px;
    padding: 10px;
}

.b_add_new a {
    text-decoration: none;
    color: #fff;
}

.m_details_table table tr td {
    width: 730px;
    font-size: 17px;
    padding: 6px;
} */

.m_btn_clear_save {
    display: flex;
    margin-top: 80px;
    justify-content: center;
    margin-right: 65px;
}

.m_btn_clear button {
    font-size: 17px;
    padding: 5px 40px;
    border-radius: 3px;
    background-color: transparent;
    border: 2px solid #606060;
    color: #606060;
}

.m_btn_clear button i {
    margin-right: 8px;
}

.m_btn_save {
    margin-left: 30px;
}

.m_btn_save button {
    font-size: 17px;
    border: none;
    padding: 5px 40px;
    border-radius: 3px;
    background-color: #4B6C52;
    color: #fff;
}

.m_btn_save button:focus {
    outline: none;
}

.m_btn_save button i {
    margin-right: 8px;
}
.m_pro_img{
    margin-top: 20px;
    margin-right: 10px;
}

/* TABLE */
/* .m_option {
    padding-left: 1rem !important;
}

.m_option {
    padding-left: 70px;
} */


/* CHANGE PASSWORD POPUP */
.m_change_pass {
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    width: 600px !important;
}

.m_change_pass_text span {
    font-size: 30px;
    font-weight: 700;
    text-wrap: nowrap;
}

.m_new {
    border-bottom: 1px solid #606060;
    width: 380px;
}

.m_new input {
    font-size: 15px;
    padding: 15px 0px 15px 0px;
    border: none;
    width:100%; 
    background-color: transparent;
}


.m_new input:focus {
    outline: none;
}

.m_confirm {
    border-bottom: 1px solid #606060;
    width: 380px;
}

.m_confirm input {
    font-size: 15px;
    /* margin-top: 20px; */
    padding: 15px 0px 15px 0px;
    border: none;
}

.m_confirm input:focus {
    outline: none;
}

.m_btn_cancel_change {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.m_btn_cancel button {
    font-size: 15px;
    padding: 5px 35px;
    border-radius: 3px;
    background-color: transparent;
    border: 1px solid #606060;
    color: #606060;
}

.m_btn_cancel button i {
    margin-right: 8px;
}

.m_btn_change {
    margin-left: 30px;
}

.m_btn_change button {
    font-size: 15px;
    padding: 5px 35px;
    border-radius: 3px;
    background-color: #4B6C52;
    border: 1px solid #4B6C52;
    color: #fff;
}

.m_btn_change button:focus {
    outline: none;
}

.m_btn_change button i {
    margin-right: 8px;
}

.m_btn_cancel button:focus {
    outline: none;
}

.m_model_ChangePassword {
    position: fixed;
    top: 0;
    left: 160px !important;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}


/* LOGOUT POPUP */
/* .b_button{
    width: 25%;
} */
.m_model_con {
    width: 75% !important;
}

.m_log {
    text-align: center;
    align-items: center;
}

.m_logout {
    margin: 30px 0px 20px 0px;
}

.m_logout span {
    font-size: 30px;
    font-weight: 700;
}

.m_text {
    font-size: 18px;
    font-weight: 600;
}

.m_btn_cancel_yes {
    margin: 50px 0px 30px 0px;
    display: flex;
    justify-content: center;
}

.m_btn_cancel_logout button {
    font-size: 15px;
    padding: 5px 35px;
    border-radius: 3px;
    background-color: transparent;
    border: 1px solid #606060;
    color: #606060;
}

.m_btn_yes {
    margin-left: 30px;
}

.m_btn_yes button {
    font-size: 15px;
    padding: 5px 47px;
    border-radius: 3px;
    background-color: #4B6C52;
    border: 1px solid #4B6C52;
    color: #fff;
}

.m_btn_cancel_logout button:focus {
    outline: none;
}

.m_btn_yes button:focus {
    outline: none;
}

.m_model_logout {
    position: fixed;
    top: 0;
    left: 230px !important;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

@media (max-width: 1440px) {
    /* .m_option {
        padding-left: 1.3rem !important;
    }
    .m_pro_img{
        margin-top: 20px;
    }
    .m_chef_details .m_details {
        padding-left: 0px !important;
    }

    .m_details input {
        width: 480px;
        margin-left: 20px;
        padding: 10px;
    }

    .m_details select {
        width: 480px;
        margin-left: 20px;
        padding: 10px;
    }

    .m_details_table table tr td {
        width: 480px;
        margin-left: 20px;
        padding: 5px;
    } */

    .m_model_ChangePassword {
        position: fixed;
        top: 0;
        left: 170px !important;
        z-index: 1050;
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        outline: 0;
    }

    .m_model_logout {
        position: fixed;
        top: 0;
        left: 225px !important;
        z-index: 1050;
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        outline: 0;
    }
    #logoutModal .modal-dialog-centered {
        margin-left: 42%;
    }
}

@media (max-width: 1024px) {
    /* .m_option {
        padding-left: 1.3rem !important;
    }
    .m_pro_img{
        margin-top: 0px;
    }
    .m_chef_details .m_details {
        padding-left: 0px !important;
    }

    .m_option {
        margin-top: 20px;
    }

    .m_details input {
        width: 660px;
    }

    .m_details select {
        width: 660px;
    }

    .m_details_table table tr td {
        width: 660px;
    } */

    .m_btn_clear_save {
        margin-left: 30px;
    }

    .m_model_ChangePassword {
        position: fixed;
        top: 0;
        left: 130px !important;
        z-index: 1050;
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        outline: 0;
    }

    .m_model_logout {
        position: fixed;
        top: 0;
        left: 200px !important;
        z-index: 1050;
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        outline: 0;
    }
}

@media (max-width: 768px) {
    /* .m_option {
        padding-left: 1.3rem !important;
    }
    .m_pro_img{
        margin-top: 0px;
    }
    .m_add {
        margin-left: 20px;
    }

    .m_details {
        margin-left: 15px;
    }

    .m_details_table {
        margin-left: 15px;
    } */

    .m_model_ChangePassword {
        position: fixed;
        top: 0;
        margin-left: -125px !important;
        z-index: 1050;
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        outline: 0;
    }

    .m_model_logout {
        position: fixed;
        top: 0;
        margin-left: -135px !important;
        z-index: 1050;
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        outline: 0;
    }
    #logoutModal .modal-dialog-centered {
        margin-left: 20%;
    }
}

@media (max-width: 425px) {
    .m_add_input_mar{
        margin-top: 15px;
    }
    .m_change_pass {
        justify-content: center;
        align-items: center;
        padding: 30px 50px;
        width: 350px !important;
    }
    .v_chef_change_password .modal-dialog {
        margin-left: 8% !important;
    }
    /* .m_option {
        padding-left: 1.3rem !important;
    }
    .m_pro_img{
        margin-top: 0px;
    }
    .m_details input {
        width: 335px;
        padding: 5px 10px;
    }

    .m_details select {
        width: 335px;
        padding: 5px 10px;
    }

    .m_details_table table tr td {
        width: 335px;
        padding: 2px 10px;
    } */

    .m_btn_clear_save {
        margin-top: 50px;
        margin-left: 30px;
    }

    .m_btn_clear button {
        font-size: 15px;
        text-wrap: nowrap;
        padding: 2px 15px;
    }

    .m_btn_save button {
        font-size: 15px;
        text-wrap: nowrap;
        padding: 2px 15px;
    }

    .m_save {
        width: 200px !important;
    }

    .m_save_text {
        font-size: 15px;
        font-weight: 600;
    }

    .m_save_img {
        margin-bottom: 10px;
    }

    /* CHANGE PASSWORD POPUP */
    .m_model_ChangePassword {
        position: fixed;
        top: 0;
        margin-left: 0 !important;
        z-index: 1050;
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        outline: 0;
    }

    /* .m_change_pass {
        justify-content: center;
        align-items: center;
        padding: 30px 50px;
        width: 350px !important;
    } */

    .m_change_pass_text span {
        font-size: 20px;
        font-weight: 700;
        text-wrap: nowrap;
    }

    .m_new {
        border-bottom: 1px solid #606060;
        width: 280px;
    }

    .m_new input {
        font-size: 12px;
    }

    .m_new input:focus {
        outline: none;
    }

    .m_confirm {
        border-bottom: 1px solid #606060;
        width: 280px;
    }

      .m_confirm input {
        font-size: 12px;
        background-color: transparent;
        width: 100%;
    }

    .m_confirm input:focus {
        outline: none;
    }

    .m_btn_cancel_change {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    .m_btn_cancel_change {
        display: flex;
        margin-top: 30px;
        justify-content: center;
    }

    /* LOGOUT POPUP */
    .m_btn_yes {
        margin-left: 10px;
    }
    .m_logout {
        margin: 15px 0px 10px 0px;
    }
    .m_btn_cancel_yes {
        margin: 15px 0px 20px 0px;
    }
    .m_model_con {
        width:90% !important;
    }
    .m_model_logout {
        position: fixed;
        top: 0;
        margin-left: -178px !important;
        z-index: 1050;
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        outline: 0;
    }
    #logoutModal .modal-dialog-centered {
        margin-left: 26px;
    }
}

@media (max-width: 375px) {
    /* CHANGE PASSWORD POPUP */
    #changepassModal {
        position: fixed;
        top: 0;
        left: 0 !important;
        z-index: 1050;
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        outline: 0;
    }
    .m_btn_cancel_yes {
        margin: 30px 0px 30px 0px;
    }
    .m_btn_cancel_logout button {
        padding: 5px 20px;
    }
    .m_btn_yes button {
        padding: 5px 20px;
    }
    /* LOGOUT POPUP */
    .m_btn_yes {
        margin-left: 10px;
    }
    .m_logout {
        margin: 15px 0px 10px 0px;
    }
    .m_btn_cancel_yes {
        margin: 15px 0px 20px 0px;
    }
    .m_model_con {
        width:90% !important;
    }
    #logoutModal {
        position: fixed;
        top: 0;
        margin-left: 0px !important;
        z-index: 1050;
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        outline: 0;
    }
}

@media (max-width: 320px) {
    /* CHANGE PASSWORD POPUP */
    .m_new {
        width: 200px;
    }
    .m_confirm{
        width: 200px;
    }
    .m_btn_cancel button {
        padding: 5px 20px;
    }
    .m_btn_change button{
        padding: 5px 20px;
    }
    .m_change_pass {
        width: 290px !important;
    }
    /* LOGOUT POPUP */
    .m_btn_yes {
        margin-left: 10px;
    }
    .m_logout {
        margin: 15px 0px 10px 0px;
    }
    .m_btn_cancel_yes {
        margin: 15px 0px 20px 0px;
    }
    .m_model_con {
        width:90% !important;
    }
    #logoutModal {
        margin-left: 0px !important;
        height: 100%;
    }    
}