* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col {
    padding: 0 !important;
}

/* //////////////////////////////////////////////////// */

.cropdbg {
    display: none;
}

.container-fluid {
    margin: 0 auto;
}

.a_fooddish {
    height: 100vh;
}

.a_fooddish .img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    position: relative;
    overflow: hidden !important;
}

.a_loginform {
    position: absolute;
    top: 131px;
    right: 175px;
}
.otp-input {
    width: 50px; /* Width of each OTP box */
    height: 60px; /* Height of each OTP box */
    text-align: center; /* Center text in each box */
    font-size: 24px; /* Font size for digits */
    border: 1px solid #ccc; /* Border styling */
    border-radius: 5px; /* Rounded corners */
    margin: 0 5px; /* Space between boxes */
}

.otp-input:focus {
    border-color: #007bff; /* Change border color on focus */
    outline: none; /* Remove default outline */
}

#otpContainer {
    max-width: max-content; /* Container width */
    margin: 0 auto; /* Center the container */
}

.btn-primary {
    background-color: #007bff; /* Button color */
    border-color: #007bff; /* Border color */
}

.btn-primary:hover {
    background-color: #0056b3; /* Darker button color on hover */
    border-color: #004080; /* Darker border color on hover */
}

.a_card .a_title>p {
font-size: 24px;
line-height: 23.8px;
}
.a_card {
    width: 100%;
    height: 530px;
    border: none;
    box-shadow: 4px 4px 20px 0px rgba(229, 229, 229, 0);
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.712);
    background: radial-gradient(136.57% 293.12% at 0.9% 2.98%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    padding: 10px 70px;
}

.a_card .a_title {
    margin: 63px 0 67px 0;
}

.a_card .a_title>h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    color: #4B6C52;
}

.a_card .a_title>p {
    font-size: 16px;
    font-weight: 600;
    line-height: 28.8px;
    color: rgba(77, 77, 77, 1);
}
.d-grid:hover button{
    background-color: #4B6C52;
}
.a_input-group-text {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    border-radius: .25rem;
}

.a_input-group {
    border-bottom: 1.2px solid #333333;
    margin-top: 21px;
}

.a_input-group input {
    border: none;
    font-size: 16px;
    padding: 10px 0;
    background-color: #fafafa00
}

.a_input-group input:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
}

.d-grid button {
    width: 209px;
    height: 40px;
    border-radius: 4px;
    background: rgba(75, 108, 82, 1);
    margin: 53px auto 50px auto;
    color: #FFFFFF;
    font-size: 16px;

}

.a_card a {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}

@media (min-width: 2560px) {
    .a_card {
        width: 100%;
        height: 670px;
        border: none;
        box-shadow: 4px 4px 20px 0px rgba(229, 229, 229, 0);
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.712);
        background: radial-gradient(136.57% 293.12% at 0.9% 2.98%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        padding: 0 80px;
    }

    .a_loginform {
        position: absolute;
        top: 200px;
        right: 250px !important;
    }

    .a_card .a_title>h3 {
        font-size: 70px;
        margin-bottom: 50px !important;
    }

    .a_card .a_title>p {
        font-size: 24px;
        margin-bottom: 6rem;
    }
    .a_card .a_title {
        margin: 112px 0 67px 0;
    }
}

@media (max-width: 1024px) {
    .a_fooddish .img {
        /* width: 100% !important;
       height: 100% !important;
       object-fit: cover !important;
       position: relative;
       overflow: hidden !important; */
        filter: blur(2px) !important;
    }

    .a_loginform {
        right: 120px;
    }
}

@media (max-width: 767px) {
    .a_card {
        width: 100%;
        height: 543px;
        border: none;
        box-shadow: 4px 4px 20px 0px rgba(229, 229, 229, 0);
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.712);
        background: radial-gradient(136.57% 293.12% at 0.9% 2.98%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        padding: 10px 65px;
    }

    .a_loginform {
        left: 15%;
        right: 15% !important;
    }

    .a_card .a_title>p {
        font-size: 16px !important;
        font-weight: 500;
    }

    .a_card .a_title>h3 {
        font-size: 24px;
        font-weight: 500;
    }
}

@media (max-width: 500px) {
    .a_card {
        padding: 10px 30px;
    }
}

@media (max-width: 425px) {
    .cropdbg {
        display: block;
        width: 100% !important;
        height: 100% !important;
        object-fit: cover !important;
        position: relative;
        overflow: hidden !important;
        filter: blur(2px);
    }

    .a_fooddish .img {
        display: none;
    }

    .a_card {
        width: 410px;
        height: 440px;
        border: none;
        box-shadow: 4px 4px 20px 0px rgba(229, 229, 229, 0);
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.712);
        background: radial-gradient(136.57% 293.12% at 0.9% 2.98%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        padding: 10px;
    }

    .a_loginform {
        position: absolute;
        top: 80px;
        /* left: 0px ;
       right: 0; */
    }

    .d-grid button {
        margin: 40px auto 40px auto;
    }

    .a_input-group {
        margin-top: 0px;
    }

    .a_card .a_title {
        margin: 38px 0 58px 0;
    }
    .a_loginform {
        left: 10%;
        right: 10% !important;
    }    
    .otp-input {
        width: 40px;
        height: 41px;
    }
}

@media (max-width: 375px) {
    .a_card {
        width: 365px;

    }
}

@media (max-width: 320px) {
    .a_card {
        width: 310px;

    }
    .a_card .a_title {
        margin: 18px 0 38px 0;
    }
    .a_loginform {
        left: 7%;
        right: 7% !important;
    }
    .a_card {
        height: 390px;
    }

}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////// */